// These overrides are needed so we can add semantic HTML tags to the upstream
// layouts for accessibility without breaking the styling.

.main {
  min-width: 0;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--section-separation);

  @include respond(md) {
    padding-top: var(--main-top-padding);
  }
}

.d-contents {
  display: contents;
}

// These styles are for the RSS XSLT stylesheet.

.feed-header {
  display: flex;
  align-items: center;
  gap: 2rem;

  svg {
    stroke: var(--body-text-color);
  }

  > svg {
    width: 80px;
    height: 80px;
    display: none;
  }

  @include respond(sm) {
    > svg {
      display: inline;
    }
  }

  .feed-title {
    h1 {
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--accent-color);
    }

    > svg {
      width: 50px;
      height: 50px;
      display: inline;
    }

    @include respond(sm) {
      > svg {
        display: none;
      }
    }
  }

  .feed-text {
    color: var(--body-text-color);
  }

  .feed-backlink {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .link {
      @extend a, .link;
    }
  }
}
