.main {
  min-width: 0;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--section-separation);

  @include respond(md) {
    padding-top: var(--main-top-padding);
  }
}

.d-contents {
  display: contents;
}

.article-list article {
  @for $i from 1 through length($defaultTagBackgrounds) {
    &:nth-child(#{length($defaultTagBackgrounds)}n + #{$i}) {
      .article-category > * {
        background: nth($defaultTagBackgrounds, $i);
        color: nth($defaultTagColors, $i);
      }
    }
  }

  .article-category > * {
    color: var(--accent-color-text);
    background-color: var(--accent-color);
    padding: 8px 16px;
    border-radius: var(--tag-border-radius);
    display: inline-block;
    font-size: 1.4rem;
  }
}
