//
// Styles for Hyvor Talk comments.
//

hyvor-talk-comments {
  color: var(--accent-color);
  --ht-color-accent: var(--accent-color);
  --ht-color-accent-text: var(--accent-color-text);
  --ht-color-box: var(--card-background);
  --ht-color-box-text: var(--card-text-color-main);
  --ht-color-box-text-light: var(--body-text-color);
  --ht-color-box-secondary: var(--blockquote-background-color);
}
